/* All Pages */
.form-error-text {
    height: 10px;
    color: orangered;
    padding: 5px;
}

.form-confirm-text {
    height: 10px;
    color: lightseagreen;
    padding: 5px;
}

/* Input Page */
#input-page a.input-button {
    height: 100px;
    margin-bottom: 20px;
}

/* Friend Compare Page */
#friend-compare-page .compare-cell {
    width: 40%;
    padding: 5px 5px 20px 5px;
    text-align: center;
}
#friend-compare-page .compare-heading {
    width: 20%;
    padding: 5px 5px 20px 5px;
    text-align: center;
}
#friend-compare-page table {
    width: 100%;
}
#friend-compare-page .left-cell {
    width: 20%;
    padding-bottom: 20px;
}
#friend-compare-page thead img {
    width: 100px;
    height: 100px;
}

/* Friend Request Popup */
#friend-request-popup li {
    vertical-align: top;
    min-height: 30px;
}
#friend-request-popup li img {
    max-width: 60px;
}
#friend-request-popup li span.friend-request-list-name {
    position: absolute;
    left: 65px;
}
#friend-request-popup li span.friend-request-list-button-holder {
    position: absolute;
    right: 0px;
    top:5px;
    background: white;
}
#friend-request-popup li span.friend-request-list-button-holder a.confirm-button {
    margin-right: 5px;
}




/*MY HOME*/

#page1 body {
    /* overflow: hidden; */
    margin: 0;
}

#page1 .responsive_height {
    /*height: 0;*/
    height: 350px;
    padding: 0 0 40% 0; /* responsive slider height = 40% of the browser width; ie. slide image aspect ratio: w10xh4 */
    position: relative;
    overflow: visible;
}

#page1 .responsive_height > .container {
    position: absolute;
    width: 100%;
    height: 100%;
    height: 350px;

    overflow: hidden;

    border-radius: 25px;
    border: 1.4px double dodgerblue;

    margin: 10px 0px 10px 0px;
    /*padding: 50px;*/
    /*width: 95%;*/
    /*height: 95%;*/
}

#page1 .iosSlider {
    width: 100%;
    height: 100%;
    height: 350px;

    /*background: #aaa;*/
}

#page1 .iosSlider .slider {
    width: 100%;
    height: 100%;
    height: 350px;

}

.iosSlider .slider .item {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    height: 350px;

    margin: 0 0 0 0;
}

#page1 .iosSlider .slider .item .content_div {
    height: 100%;
    width: 100%;
    height: 350px;

}

@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
.content_div {
    /*{background: #282828 url('http://www.amcharts.com/lib/3/patterns/chalk/bg.jpg');color: #fff;*/
    /*width		: 100%;*/
    /*height		: 500px;*/
    /*font-size	: 11px;*/
    /*border-radius: 25px;*/
    /*border: 2px solid;*/
    /*margin: 15px;*/
    padding: 2px;
    /*height: 220px;*/
    /*width: 95%;*/
    /*height: 95%;*/
    /*margin-right: 7px;*/
    /*margin-left: 3px;*/
    /*margin-bottom: 7px;*/
    /*margin-top: 7px;*/
    border-radius: 35px;
    /*border: 2px solid;*/
    /*border-right-width: 5px;*/

}

/*body {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

#page1 .box2 {
    overflow: hidden;
    position: relative;
    width: 95%;

    /*display: table;*/

    border: 2px solid blue;
    margin: 10px;

}

#page1 .myslider1 {
    width: 500px;
    height: 150px;
    border: 1px solid #CCC;
}

.slide1 {
    width: 200px;
    height: 150px;
    background: #E8E8E8;
}

/*html, body {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

/*body > div  {*/
/*width: 90%;*/
/*height: 100%;*/
/*background: green;*/
/*}*/

/*body > div > div {*/
/*width: 100%;*/
/*background: red;*/
/*}*/

#page1 .myslider2 {
    margin: 5px;

    /*background:green;*/
    width: 400px;
    height: 250px;
    position: relative;
    right: 0 border : 1 px solid #CCC;
    overflow: auto;

}

#page1 .slide2 {
    margin: 5px;
    /*background:green;*/
    width: 400px;
    height: 250px;
    position: relative;
    right: 0

}

#page1 div#element {

    width: 100vw;
}

#page1 #a, #b, #feed1, #feed2 {
    display: none;
}

#page1 .box {
    /*border: 2px solid #000000;*/

    margin: 4px;

    margin-left: auto;
    margin-right: auto;
    /*margin-right: 2500px;*/
    padding-right: 0px;

}

/*#tabs { width: 100%: }*/
/*#tabs .tab { height: 300px; }*/
/*p { margin: 10px 0; }*/

/*.testing {*/
/*margin-top: 25px;*/
/*}*/

#page1 .supervisor-info .avatar {
    background-image: url(main/img/profile-picture-icon-md.png);
    width: 50px;
    height: 50px;
    margin: 0px 12px 4px 4px;
    float: left;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#page1 .supervisor-info .name {
    margin-left: 60px;
    border: 1px solid #000000;
    font-size: 1.5em;
    padding: 0px 0 0 0;
    -moz-box-sizing: 50px 50px;
    -o-background-size: 50px 50px;
    -webkit-box-sizing: 50px;
}

#page1 .goals {
    /*margin-left: 60px;*/
    margin: 5px 0px 5px 3px;
    /*float: left;*/

    border: 1px solid #000000;
    font-size: 1.5em;
    padding: 0px 0 0 0;
    -moz-box-sizing: 50px 50px;
    -o-background-size: 50px 50px;
    -webkit-box-sizing: 50px;

}

#page1 .smaller {
    font-size: .95em;

}

#page1 .book {
    overflow: auto;
    height: 265px;
    /*width: 95%;*/
    margin: 10px;
    border-radius: 25px;
    /*margin-left: 10px;*/
    padding: 15px;
    /*padding-bottom: 15px;*/
    /*margin-bottom: 15px;*/
}

#page1 .activityH {
    border-radius: 50px;
    color: white;
    background-color: #3388cc;
    margin: 5px;

}

/*.box{*/
/*background-color: lightgray;*/
/*border: 1px solid black;*/
/*width: 100%;*/
/*margin: 0px auto;*/
/*position: relative;*/
/*font-weight: bold;*/
/*text-align: center;*/
/*padding: 5px;*/
/*margin: 0px 43px;*/
/*}*/

/*.ui-block-a,*/
/*.ul-block-b*/
/*{*/
/*background-color: lightgray;*/
/*border: 1px solid black;*/
/*width: 10px;*/
/*height: 63px;*/
/*font-weight: bold;*/
/*text-align: center;*/
/*padding: 5px;*/
/*margin-right: 5px;*/
/*margin: 0px 10px;*/
/*}*/
/*.ui-block-b*/
/*{*/
/*background-color: lightgray;*/
/*border: 1px solid black;*/
/*height: 63px;*/
/*font-weight: bold;*/
/*text-align: center;*/
/*padding: 30px;*/
/*}*/


