#dup{
    border: 2px solid;
    /*border-radius:15px;*/
    font-size: 65%;
}
#share_header{
    font-size: 75%;
}

img {
    padding-top: .2cm;
    padding-left: .2cm;
}
.adjust_indent{
    /*text-indent: 20px;*/
}

.not_yet{
    /*text-indent: 20px;*/
    font-size: smaller;
}

#a2{
    padding-left: 0cm;
}

#fb_div {
    height:50px;
    /*width:400px;*/
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 5px;
}
#fb_icon{
    /*opacity: .75;*/
}

#fb_icon:hover{
    /*opacity: 5;*/
    cursor: pointer;
}