

#dup{
    border: 2px solid;
    border-radius:15px;
    font-size: 65%;
}
#share_header{
    font-size: smaller;
}

img {
    padding-top: .2cm;
    padding-left: .2cm;
}
.adjust_indent{
    text-indent: 20px;
}
